.nav {
    display: flex;
    align-items: center;
}

.logo__nav {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;   
   }
   
.studio__nav {
    color: var(--title-font);
}


.nav__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

.nav__item {
    padding: 0;
    margin-right: 50px;
   
}

.nav-list .nav-list-item:last-child {
    margin-right: 0;
}


.nav__link {
    display: block;
    padding: 32px 0;
  
    color: var(--title-font);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--сubic);


&:hover,
&:focus {
    color: var(--button-link-color);
 }
}

